@import url('https://fonts.googleapis.com/css?family=Montserrat|Permanent+Marker|Cinzel:700|Kalam|Tinos|Varela+Round|Bree+Serif');

.updowncolors {
    background-color: #343a40;
}

.centred-content {
    position: relative;
    text-align: center;
    align-items: center;
    display: inline-block;
    justify-content: center;
}

.footer-font {
    color: white;
}

.socialtitle{
    padding-top: 15px;
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
}

.social {
    margin: 0 auto;
    padding: 15px;
}

.for-buttons {
    color: black;
}

.form-field {
    margin: 0 auto;
    position: relative;
}

.resultbutton {
    color: white !important;
    background: #000000 !important;
    border: 0px;
    margin: 0px 0px 30px 0px;
}

.appname {
    font-family: 'Bree Serif', serif;
    margin: 0px;
    font-size: 40px;
}

.appnamedisplay {
    margin: 35px 0px 0px 0px;
}

.appimgdisplay {
    margin: 25px 0px 0px 0px;
}

.appimg {
    width: 100px;
    height: 100px;
}

.validators {
    background: #e66465;
}

.Row {
    display: table;
}

.Col {
    height: 60px;
	display: table-cell;
}

.MiddleCenter {
	text-align: center;
	align-items: center;
	vertical-align: middle;
}

.MiddleCenterValues {
	text-align: left;
	align-items: center;
	vertical-align: middle;
}

.props-name {
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
}

.props-value {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    margin: 0px;
}

.quote-panel {
    margin: 0px 0px 0px 15px;
    padding: 0px 0px 0px 15px;
}

.result-panel {
    background: #e9ecef;
    padding: 0px 0px 15px 0px;
    margin: 20px;
}

.single-result {
    margin: 10px 0px 0px 0px;
}